body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: relative;
}
header nav .logo a img{
    height: 50px;
}
header nav .logo a .navbar-image-active{
    display: none;
}
header nav ul li a:hover{
    color: #3498db;
}
header nav ul .dropdown-services>ul li{
    margin: 10px 15px;
}
header nav ul .dropdown-account>ul li{
    margin: 10px 20px;
}
header nav .hamburger i{
    font-size: 24px;
}

/* ======= responsive here ======= */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    header{
        position: relative;
        padding: 5px 0;
    }
    header nav ul{
        display: none;
    }
    header nav ul li{
        list-style: none;
        margin: 15px 5px 0 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #555555;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul.hamburger_active .dropdown-services .ul-services{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 7px;
    }
    header nav ul.hamburger_active .dropdown-account .ul-account{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 10px;
    }
    header nav .hamburger{
        display: block;
        margin-right: 10px;
    }
    header .navbar_mobile_cover_active{
        position: fixed;
        background: rgba(9, 9, 9, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.3s;
    }
    header nav ul.hamburger_active{
        display: block;
        position: fixed;
        top: 50px;
        right: 15px;
        bottom: 5px;
        left: 15px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        border-radius: 8px;
        padding: 15px;
    }
    header nav .hamburger .fa-xmark{
        color: #fff;
        margin: 10px 10px 0 0;
        font-size: 25px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    header{
        position: relative;
        padding: 5px 0;
    }
    header nav ul{
        display: none;
    }
    header nav ul li{
        list-style: none;
        margin: 15px 5px 0 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #555555;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul.hamburger_active .dropdown-services .ul-services{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 7px;
    }
    header nav ul.hamburger_active .dropdown-account .ul-account{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 10px;
    }
    header nav .hamburger{
        display: block;
        margin-right: 10px;
    }
    header .navbar_mobile_cover_active{
        position: fixed;
        background: rgba(9, 9, 9, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.3s;
    }
    header nav ul.hamburger_active{
        display: block;
        position: fixed;
        top: 50px;
        right: 15px;
        bottom: 5px;
        left: 15px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        border-radius: 8px;
        padding: 15px;
    }
    header nav .hamburger .fa-xmark{
        color: #fff;
        margin: 10px 10px 0 0;
        font-size: 25px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    header{
        position: relative;
        padding: 5px 0;
    }
    header nav ul{
        display: none;
    }
    header nav ul li{
        list-style: none;
        margin: 15px 5px 0 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #555555;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav ul.hamburger_active .dropdown-services .ul-services{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 7px;
    }
    header nav ul.hamburger_active .dropdown-account .ul-account{
        display: block;
        position: relative;
        padding: 5px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 1;
        visibility: visible;
        top: 10px;
    }
    header nav .hamburger{
        display: block;
        margin-right: 10px;
    }
    header .navbar_mobile_cover_active{
        position: fixed;
        background: rgba(9, 9, 9, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.3s;
    }
    header nav ul.hamburger_active{
        display: block;
        position: fixed;
        top: 50px;
        right: 15px;
        bottom: 5px;
        left: 15px;
        background-color: #fff;
        overflow-y: auto;
        transition: 0.3s;
        border-radius: 8px;
        padding: 15px;
    }
    header nav .hamburger .fa-xmark{
        color: #fff;
        margin: 10px 10px 0 0;
        font-size: 25px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    header{
        position: relative;
        padding: 5px 60px;
    }
    header nav ul{
        display: inline-flex;
        margin: 0;
    }
    header nav ul li{
        list-style: none;
        margin-right: 15px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #555555;
        transition: 0.3s;
    }
    header nav ul .dropdown-services>ul{
        display: block;
        position: absolute;
        padding: 0;
        top: 50px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    header nav ul .dropdown-services:hover>ul{
        opacity: 1;
        visibility: visible;
    }
    header nav ul .dropdown-account>ul{
        display: block;
        position: absolute;
        padding: 0;
        top: 47px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    header nav ul .dropdown-account:hover>ul{
        opacity: 1;
        visibility: visible;
    }
    header nav .hamburger{
        display: none;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    header{
        position: relative;
        padding: 5px 60px;
    }
    header nav ul{
        display: inline-flex;
        margin: 0;
    }
    header nav ul li{
        list-style: none;
        margin-right: 15px;
    }
    header nav ul li a{
        text-decoration: none;
        color: #555555;
        transition: 0.3s;
    }
    header nav ul .dropdown-services>ul{
        display: block;
        position: absolute;
        padding: 0;
        top: 50px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    header nav ul .dropdown-services:hover>ul{
        opacity: 1;
        visibility: visible;
    }
    header nav ul .dropdown-account>ul{
        display: block;
        position: absolute;
        padding: 0;
        top: 47px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        border-radius: 7px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    header nav ul .dropdown-account:hover>ul{
        opacity: 1;
        visibility: visible;
    }
    header nav .hamburger{
        display: none;
    }
}